* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
 body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-style: normal;
}
.contenedor-principal-terminal {
    width: 60%;
    height: 570px;
    min-width: 800px;
    background-color: #000;
    margin: 0 auto;
    border-radius: 11px;
    margin-top: 50px;
}
.contenedor-barra-terminal {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: start;
    background-color: #fff;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.contenedor-barra-terminal button {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 5px 0 5px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
}
.contenedor-barra-terminal .min {
    background-color: rgb(228, 228, 1);
    border: none;
}

.contenedor-barra-terminal .expan {
    background-color: rgba(0, 128, 0, 0.829);
    border: none;
}
/*  */
.contenedor-terminal {
    width: 100%;
    margin-top: 12px;
    padding-left: 12px;
    background-color: transparent;
}
.contenedor-int-terminal {
    display: flex;
    flex-direction: column;
}
.contenedor-int-terminal span {
    color: #fff;
    font-size: 13px;
    margin-bottom: 6px;
}
.contenedor-int-terminal div {
    width: 100%;
}
.contenedor-int-terminal div span {
    margin-right: 8px;
    font-size: 13px;
}
.contenedor-int-terminal div input {
    border: none;
    background-color: transparent;
    width: 400px;
    font-size: 13px;
    color: #fff;
}
.contenedor-int-terminal div input:focus {
    outline: none;
}
