* {
    padding: 0;
    margin: 0;
}

header{
    background-color: #f1F2F3;
    padding: none;
    display: flex;
    align-items: center;
    margin-top:0%;
    
}

input[type="search"] {
    flex-grow: 1;
    padding:8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
}


.input-1{
    flex-grow: 1;
    padding:8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
    align-items: center;
    width: 741px;
    height: 23px;
}

button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    }

.first {
    position: absolute;
    left: 110.6rem;
}

button:hover {
    background-color: #e8eaed;
}

.logo-arriba{
    height: 30px;
    width: auto;
    margin: 0 15px;
    background-color: transparent;
}

.logo-abajo {
    height: 300px;
    width: 520px;
    
}


.menu-favorites {
    position: relative;
}



.menu-favorites:hover .menu-desplegable {
    display: block;
}

.menu-desplegable {
    display: none;
    position:absolute;
    top: 45px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.616);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 2);
    min-width: 250px;
    z-index: 1000;
    padding: 3;
    margin: 0;
    list-style: none;
}


.menu-user {
    position: relative;
}


.menu-user:hover .menu-users {
    display: block;
}




.menu-users {
    display: none;
    position:absolute;
    top: 45px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.616);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 2);
    min-width: 250px;
    z-index: 1000;
    padding: 3;
    margin: 1;
    list-style: none;
}





.menu-option {
    position:relative
}


.menu-option:hover .menu-options {
    display: block;
}



.menu-options {
    display: none;
    position:absolute;
    top: 45px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.616);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 2);
    min-width: 250px;
    z-index: 1000;
    margin: 0;
    list-style: none;
    
}

.menu-options li {
    margin-bottom: 5px;
}


.logo-central {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.logo-central img {
    width: 420px;
    height: 230px;
}

.logo-central .lupa {
    
    width: 10px;
    height: 10px;
}

.contenedor-lupa {
    width: 700px;
    display: flex;
    margin-left: 50px;
    border: 1px solid #9b9a9a;
    padding: 12px;
    border-radius: 24px;
    margin: auto;
}
.contenedor-lupa input {
    width: 80%;
    height: 20px;
    border: none;
    padding-left: 15px;
}
.contenedor-lupa input:focus {
    outline: none;
}
.contenedor-lupa:hover {
    box-shadow: 0 3px 12px #969595;
}
.contenedor-lupa img {
    width: 11px;
    height: 12px;
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 4px;
}