header{
    background-color: #f1F2F3;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="search"] {
    flex-grow: 1;
    padding:8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
}

button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    }

.first {
    position: absolute;
    left: 110.6rem;
}

button:hover {
    background-color: #e8eaed;
}

.logo-arriba{
    height: 30px;
    width: auto;
    margin: 0 15px;
    background-color: transparent;
}

.logo-abajo {
    height: 300px;
    width: 520px;
    
}


.menu-favorites {
    position: relative;
}



.menu-favorites:hover .menu-desplegable {
    display: block;
}

.menu-desplegable {
    display: none;
    position:absolute;
    top: 45px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.616);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 2);
    min-width: 250px;
    z-index: 1000;
    padding: 3;
    margin: 0;
    list-style: none;
}





